@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen-minus-100px {
  height: calc(100vh - 100px);
}

.custom-shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.custom-drop-shadow {
  box-shadow: 0 4px 20px 0 rgba(216, 230, 254, 0.2);
}

.custom-drop-shadow2 {
  box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.6);
}
